<h1>Chat</h1>

<hr>
<div class="app-mensajes" id="app-mensajes">
    <div  *ngFor="let chat of _cs.chats"
     [ngClass]="{'text-end': chat.uid == _cs.usuario.uid, 'text-start': chat.uid != _cs.usuario.uid}"
    >
        <span class="badge"
        [ngClass]="{'text-bg-primary': chat.uid == _cs.usuario.uid, 'text-bg-success': chat.uid != _cs.usuario.uid}"
        >{{chat.nombre}}</span>
        <p>
            {{chat.mensaje}}
        </p>
    </div>
    <!-- <div>
        <span class="badge text-bg-success">Juan</span>
        <p>
            Saludos Diego
        </p>
    </div> -->

</div>


<input type="text" name="mensaje" 
                    [(ngModel)]="mensaje" 
                    class="form-control"
                    (keyup.enter)="enviar_mensaje()"
                    placeholder="Escribe tu mensaje">

